/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 3;
}

.demo-1 .large-header {
	background-image: url('../img/demo-1-bg.jpg');
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #6e1041;
	text-align: center;
	top: 119px;
	left: 700px;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}


.main-title .thin {
	font-weight: 400;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title, 
	
}
}


